.metacritc-container{
  border: 1px solid ;
  padding: 1px 7px;
  border-radius: 5px;
  font-size: 0.7em;
  width: fit-content;
  background-color: rgba(240, 248, 255, 0);
}
.metacritc-green{
  border: 1px solid green ;
  color: green ;
}
.metacritc-yellow{
  border: 1px solid yellow;
  color: yellow;
}
.metacritc-red{
  border: 1px solid red;
  color: red;
}
