.filters{
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}
.games{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  padding-bottom: 40px;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 0.5em 0;
}
